aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
dashscope==1.23.7
frozenlist==1.7.0
idna==3.10
loguru==0.7.3
multidict==6.6.3
propcache==0.3.2
pycparser==2.22
requests==2.32.4
setuptools==78.1.1
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
websocket-client==1.8.0
wheel==0.45.1
yarl==1.20.1
